<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <!-- Section Heading-->
      <%# <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"> %>
      <%# <h4>With a sempai, a solution might be a chat or a booking away.</h4>
        <div class="line"></div> %>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <% @sempais.each do |sempai| %>
    <!-- Single Advisor-->
    <div class="col-md-3" style="width: 20rem;">
      <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="advisor_thumb">
        <%= cl_image_tag sempai.picture.key, class: "img-fluid" %>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info">
          <div class="row-2">
            <h2 style="color: #FFC436"><strong> <%= sempai.nickname %></strong> </h2>
            <div style="display: d-flex; align-items: center;">
              <% if sempai.last_seen == nil %>
                <p class="card-text mx-1" style="color: grey">
                  Offline for a while
                </p>
              <% elsif (Time.now - sempai.last_seen) - 1.hour %>
                <div class="online d-flex">
                  <i class="fa-solid fa-circle" style="color: #33cfab;"> </i>
                  <p class="card-text mx-1" style="color: #33cfab">
                    Online <%= time_ago_in_words(sempai.last_seen) %> ago
                  </p>
                </div>
              <% else %>
                <i class="fa-solid fa-circle" style="color: grey"> </i>
                <p class="card-text mx-1" style="color: grey">
                  Online <%= time_ago_in_words(sempai.last_seen) %> ago
                </p>
              <% end %>
            </div>
            <%# Icon above is if online %>
          </div>
          <p class="designation" style="color:#337CCF; font-size: 18px;"><%= sempai.occupation %></p>
          <p class="designation-description"><%= sempai.background.split(' ').take(18).join(' ')... %></p>
          <!-- Tags here -->
          <div class="container_expertise" style= "display: inline-flex;">
            <% sempai.expertises.each do |expertise| %>
              <div class="card-tags" style= "background-color: aliceblue; text-align: center;border-radius:  8em;padding: 2px 8px;font-size: .8em;bottom: 8px;right: 25px;"> <%= expertise %> </div>
            <% end %>
          </div>
          <div>
            <%= link_to "See Details", sempai_path(id: sempai.id, topic_id: topic.id), class: "btn btn-info mt-4" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
