<%# 1. View all topics %>
<%# 2. Add a link to the topic  %>
<%# 3. Be able to resolve the topic  %>
<%# 3. a. routes - patch for resolved and cancelled (OK)
<%# b. model - status -> pending, resolved, cancelled (OK) %>
<%# c. controller - def for resolved and cancelled %>
<%# d. update view - simple form and conditional to show if status is OOO, class="d-none" %>
<%# 4. update the navbar to go to my topics %>
<% @topics.each do |topic| %>
  <div class="card">
    <div class="card-body">
      <p> trying out </p>
      <h5 class="card-title"><%= topic.name %></h5>
      <p class="card-text"><%= topic.description %></p>
      <p class="card-text"><%= topic.user.nickname %></p>
      <% @sempais.each do |sempai| %>
        <p class="card-text"><%= sempai.nickname %></p>
      <% end %>
      <% if !topic.resolved?%>
        <h5 class="card-title"><%= topic.name %></h5>
        <p class="card-text"><%= topic.description %></p>
        <% topic.bookings.each do |booking| %>
          <%= link_to booking.user.nickname, topic_booking_path(id: booking.id, topic_id: topic.id), class: "btn btn-primary" %>
        <% end %>
        <%= simple_form_for topic, url: resolved_topic_path(topic), method: :patch do |f| %>
          <%= f.button :submit, 'Resolved', class: "btn btn-primary" %>
        <% end %>
        <%= simple_form_for topic, url: cancelled_topic_path(topic), method: :patch do |f| %>
          <%= f.button :submit, 'Cancel', class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <h5 class="card-title opacity-50"><%= topic.name %> - Resolved </h5>
        <p class="card-text opacity-50"><%= topic.description %></p>
        <% topic.bookings.each do |booking| %>
          <h5> Sempai Booked - <%= booking.user.nickname%> </h5>
          <%= link_to booking.user.nickname, topic_booking_path(id: booking.id, topic_id: topic.id), class: "btn btn-primary", style: 'opacity: 0.5;'%>
        <% end %>
        <%= simple_form_for topic, url: resolved_topic_path(topic), method: :patch do |f| %>
          <%= f.button :submit, 'Resolved', class: "d-none" %>
        <% end %>
        <%= simple_form_for topic, url: cancelled_topic_path(topic), method: :patch do |f| %>
          <%= f.button :submit, 'Cancel', class: "d-none" %>
        <% end %>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
<% end %>
