<%# OK 1. View all topics %>
<%# OK 2. Add a link to the topic  %>
<%# OK 3. Be able to resolve the topic  %>
<%# OK 3. a. routes - patch for resolved and cancelled
<%# OK b. model - status -> pending, resolved, cancelled %>
<%# OK c. controller - def for resolved and cancelled %>
<%# OK 4. update the navbar to go to my topics %>
<%# 5. update view
        a.simple form and conditional to show if status changes then what
        b. if user booked it, hide name %>
<%# 6. if user booked it, hide the link to user's name%>
<div class = "container">
  <div class = "row">
    <div class = "col-3">
    </div>
    <div class = "card-container col-9">
      <% @topics.each do |topic| %>
        <div class="card">
          <div class="card-body">
            <%# if topic is cancelled %>
            <% if topic.cancelled? %>
              <h5 class="card-title-muted"><%= topic.name %> - Cancelled </h5>
              <p class="card-text-muted"><%= topic.description %></p>
              <% @sempais_by_topic[topic].map do |sempai| %>
                <p class="card-text-muted"><%= sempai.nickname %></p>
              <% end %>
              <%# if topic is resolved %>
            <% elsif topic.resolved? %>
              <h5 class="card-title-muted"><%= topic.name %> - Resolved</h5>
              <p class="card-text-muted"><%= topic.description %></p>
              <% @sempais_by_topic[topic].each do |sempai| %>
                <p class="card-text-muted"> Your Topic Sempai:
                  <%= sempai.nickname %></p>
              <% end %>
            <% else %>
              <h5 class="card-title"><%= topic.name %></h5>
              <p class="card-text"><%= topic.description %></p>
              <% @sempais_by_topic[topic].each do |sempai| %>
                <p class="card-text"> Your Topic Sempai:
                  <%= link_to sempai.nickname, sempai_path(id: sempai.id, topic_id: topic.id), class: "text-primary" %>
                  <%= link_to '(Leave a Review)', new_user_review_path(id: sempai.id), class: "text-success" %>
                </p>
              <% end %>
              <% topic.bookings.each do |booking| %>
                <%= simple_form_for topic, url: resolved_topic_path(topic), method: :patch do |f| %>
                  <%= f.button :submit, 'Resolve', class: "btn btn-primary" %>
                <% end %>
                <%= simple_form_for topic, url: cancelled_topic_path(topic), method: :patch do |f| %>
                  <%= f.button :submit, 'Cancel', class: "btn btn-danger" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
