<%# OK 1. View all topics %>
<%# OK 2. Add a link to the topic  %>
<%# OK 3. Be able to resolve the topic  %>
<%# OK 3. a. routes - patch for resolved and cancelled
<%# OK b. model - status -> pending, resolved, cancelled %>
<%# OK c. controller - def for resolved and cancelled %>
<%# OK 4. update the navbar to go to my topics %>
<%# 5. update view
        a.simple form and conditional to show if status changes then what
        b. if user booked it, hide name %>
<%# 6. if user booked it, hide the link to user's name%>
<div class = "card-container">
  <% @topics.each do |topic| %>
    <div class="card">
      <%# if topic is resolved %>
      <div class="card-body">
        <% if !topic.resolved? %>
          <h5 class="card-title"><%= topic.name %></h5>
          <p class="card-text"><%= topic.description %></p>
          <% @sempais_by_topic[topic].each do |sempai| %>
            <%= link_to sempai.nickname, sempai_path(id: sempai.id, topic_id: topic.id), class: "btn btn-primary" %>
          <% end %>
          <% topic.bookings.each do |booking| %>
            <%= link_to booking.user.nickname, topic_booking_path(id: booking.id, topic_id: topic.id), class: "btn btn-primary" %>
          <% end %>
          <%= simple_form_for topic, url: resolved_topic_path(topic), method: :patch do |f| %>
            <%= f.button :submit, 'Resolved', class: "btn btn-primary" %>
          <% end %>
          <%= simple_form_for topic, url: cancelled_topic_path(topic), method: :patch do |f| %>
            <%= f.button :submit, 'Cancel', class: "btn btn-primary" %>
          <% end %>
        <% elsif topic.cancelled? %>
          <h5 class="card-title"><%= topic.name %></h5>
          <p class="card-text"><%= topic.description %></p>
          <% @sempais_by_topic[topic].each do |sempai| %>
            <%= link_to sempai.nickname, sempai_path(id: sempai.id, topic_id: topic.id), class: "btn btn-primary" %>
          <% end %>
          <% topic.bookings.each do |booking| %>
            <%= link_to booking.user.nickname, topic_booking_path(id: booking.id, topic_id: topic.id), class: "btn btn-primary" %>
          <% end %>
          <%= simple_form_for topic, url: resolved_topic_path(topic), method: :patch do |f| %>
            <%= f.button :submit, 'Resolved', class: "btn btn-primary", disabled: true, style: 'opacity: 0.5' %>
          <% end %>
          <%= simple_form_for topic, url: cancelled_topic_path(topic), method: :patch do |f| %>
            <%= f.button :submit, 'Cancel', class: "btn btn-primary", disabled: true, style: 'opacity: 0.5'  %>
          <% end %>
          <%# if topic is resolved %>
        <% else %>
          <h5 class="card-title"><%= topic.name %></h5>
          <p class="card-text"><%= topic.description %></p>
          <% @sempais_by_topic[topic].each do |sempai| %>
            <%= link_to sempai.nickname, sempai_path(id: sempai.id, topic_id: topic.id), class: "btn btn-primary" %>
          <% end %>
          <% topic.bookings.each do |booking| %>
            <%= link_to booking.user.nickname, topic_booking_path(id: booking.id, topic_id: topic.id), class: "btn btn-primary" %>
          <% end %>
          <%= simple_form_for topic, url: resolved_topic_path(topic), method: :patch do |f| %>
            <%= f.button :submit, 'Resolved', class: "btn btn-primary", disabled: true, style: 'opacity: 0.5;' %>
          <% end %>
          <%= simple_form_for topic, url: cancelled_topic_path(topic), method: :patch do |f| %>
            <%= f.button :submit, 'Cancel', class: "btn btn-primary", disabled: true, style: 'opacity: 0.5;' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
