<div class="chatroom" data-controller="booking-subscription" data-booking-subscription-booking-id-value="<%= @booking.id %>">
  <div class="messages" data-booking-subscription-target="messages">
    <% if @booking.messages.any? %>
      <% @booking.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="chat-form w-100" data-controller="booking-subscription">
  <% if @booking.topic.resolved? %>
    <%= simple_form_for [@booking, @booking.messages.new], html: { data: { action: "turbo:submit-end->booking-subscription#resetForm" }, class: "flex-column disabled chat-form" } do |f| %>
      <%= f.input :content, label: false, placeholder: "Type your message here", class: "w-100" %>
      <%= f.button :submit, "Send", class: "btn btn-primary w-100" %>
    <% end %>
  <% else %>
    <%= simple_form_for [@booking, @booking.messages.new], html: { data: { action: "turbo:submit-end->booking-subscription#resetForm" }, class: "flex-column chat-form" } do |f| %>
      <%= f.input :content, label: false, placeholder: "Type your message here", class:"w-100" %>
      <%= f.button :submit, "Send", class: "btn btn-primary w-100" %>
    <% end %>
  <% end %>
</div>
