<div class="container-cards d-flex gap-3 mt-2 h-100">
  <div class="main-card flex-2 w-100">
    <div class="card shadow">
      <div class="card-body h-100">
        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="sempai.picture">
        <h5 class="card-title fs-2"> <%= @user.nickname %></h5>
        <%# if online, update bottom %>
        <div style="display: inline-flex; align-items: center;">
          <i class="fa-solid fa-circle" style="color: #33cfab;"> </i>
          <p class="card-text mx-1" style="color: #33cfab"> Online</p>
        </div>
        <hr>
        <p class="card-text"> <%= @user.background %></p>
        <p class="card-text"><%= @user.occupation %></p>
        <div class="flag-container d-flex gap-2">
          <span class="fi fi-fr"></span>
          <span class="fi fi-jp"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="aside-container d-flex flex-column w-100 gap-5 mb-3">
    <div class="link-cards card shadow">
      <div class="link p-3 flex-column justify-content-center gap-5">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <%= button_to "chat now", topic_booking_messages_path(booking_id: @booking.id, topic_id: @topic.id), {class:"btn btn-primary nav-link active", id: "nav-chatroom-tab", "data-bs-toggle": "tab", "data-bs-target": "#nav-chatroom", type: "button", role: "tab", "aria-controls": "nav-chatroom", "aria-selected": "true"} %>
            <button class="nav-link" id="nav-booking-tab" data-bs-toggle="tab" data-bs-target="#nav-booking" type="button" role="tab" aria-controls="nav-booking" aria-selected="false">Booking</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-chatroom" role="tabpanel" aria-labelledby="nav-chatroom-tab" tabindex="0">
            <%= render 'bookings/chatroom' %>
          </div>
          <div class="tab-pane fade" id="nav-booking" role="tabpanel" aria-labelledby="nav-booking-tab" tabindex="0">
            <% if @booking.time.present? %>
              <%= render 'bookings/confirmation_page' %>
            <% else %>
              <%= render 'bookings/booking_availability' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow review-cards d-flex">
      <div class="card-body" data-controller="insert-in-list">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Let a review!
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal Title</h1>
                <button type="button" class="btn-close mb-2" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <%= render 'reviews/new' %>
            </div>
          </div>
        </div>
        <div class="render-review" data-insert-in-list-target="items">
          <%= render partial: 'reviews/render_index', locals: { reviews: @reviews } %>
        </div>
      </div>
    </div>
  </div>
</div>
