<div class="container">
  <% @bookings.each do |booking|%>
    <div class="card">
      <div class="card-title">
        <%= booking.topic.name %>
      </div>
      <div class="card-body">
        <%= booking.topic.user.nickname %>
        <%= booking.created_at.strftime("%m/%d/%Y %I:%M %p")%>
        <%= link_to "see more", topic_booking_path(booking.topic_id, booking.id) %>
        <p><%= booking.status %></p>
      </div>
    </div>
  <% end %>

</div>
