<%= simple_form_for [sempai, review], url: user_reviews_path(sempai) do |f| %>

  <div class="modal-body">
    <div class="star-rating">
      <% 5.times do |i| %>
        <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
      <% end %>
    </div>
    <div class="mt-5">
      <%= f.input :content, class:"mt-5" %>
      <%= f.hidden_field :user_id, value: sempai.id %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
