<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class= "logo d-flex align-items-center p-0">
      <%= link_to "/", class: "navbar-brand d-flex" do %>
        <%# <strong>
        <h3 class="inline-container justify-content-center p-0 mb-0 thicker-text" style="color: #337CCF;">Kita-kits </h3>
      </strong> %>
        <%= image_tag("logo3.png", alt: "Kita-kits logo", class: "inline-container justify-content-center p-0 mb-0") %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to user_topics_path(current_user.id),  class: "nav-link" do %>
              <i class="fa-solid fa-comments fa-2xl" style="color: #337CCF"></i>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to sempais_user_bookings_path(current_user.id), class: "nav-link" do %>
              <i class="fa-solid fa-calendar fa-2xl" style="color: #337CCF"></i>
            <% end %>
          </li>
          <li class="nav-item dropdown">
              <i class="fa-solid fa-bars fa-2xl dropdown-toggle fs-3 m-3" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="color: #337CCF"></i>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to current_user.nickname, "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
