<!DOCTYPE html>
<html>
  <head>
    <title>Kitakits</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet"
    href="
    https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>
  <body data-controller="online-indicator" data-online-indicator-user-id-value = "<%= current_user.id if current_user%>" data-online-indicator-last-seen-value = "sample">
    <div class="page-frame-content">
      <div class="page-frame-header">
        <%= render 'layouts/nav_bar'%>
      </div>
      <div class="page-frame-body">
        <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div class="page-frame-footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
